## Extract

In [1]:
#Import dependencies
import os
import pandas as pd
import time
import psycopg2
from sql_queries import *
from sqlalchemy import create_engine

In [2]:
#Name files
ExtractStart = time.time()
titlesFile = os.path.join("Data Branch","netflix_titles.csv")
moviesFile = os.path.join("Data Branch","movies_all_streaming.csv")
tvshowsFile = os.path.join("Data Branch","tv_shows_all_streaming.csv")

In [3]:
titles_df = pd.read_csv(titlesFile)

movies_df = pd.read_csv(moviesFile)

tvshows_df = pd.read_csv(tvshowsFile)

ExtractEnd = time.time()
ExtractTime = ExtractEnd-ExtractStart
TransformStart = ExtractEnd

## Transform

In [4]:
titlesClean = titles_df[["type","title","country","date_added","release_year","rating"]]

titlesClean = titlesClean.rename(columns={'release_year':'year'})

# Convert the 'date_added' column to datetime format
# Using 'errors=coerce' will handle non-parseable dates by converting them to NaT (Not a Time)
titlesClean['date_added'] = pd.to_datetime(titlesClean['date_added'], errors='coerce')

titlesClean.head()

      type  title        country date_added  year rating
0  TV Show     3%         Brazil 2020-08-14  2020  TV-MA
1    Movie   7:19         Mexico 2016-12-23  2016  TV-MA
2    Movie  23:59      Singapore 2018-12-20  2011      R
3    Movie      9  United States 2017-11-16  2009  PG-13
4    Movie     21  United States 2020-01-01  2008  PG-13

Keep only Netflix

In [5]:
# Select specific columns from the DataFrame
moviesClean = movies_df[["Title", "Year", "Age", "IMDb", "Rotten Tomatoes", "Netflix", "Country"]]

# Number of rows with all made movies
mC_all = len(moviesClean)

# Filter for rows where Netflix column is 1 (indicating Netflix-made movies)
moviesClean = moviesClean.loc[moviesClean['Netflix'] == 1]

# Number of rows with only Netflix-made movies
mC_Netflix = len(moviesClean)

# Drop the Netflix column
moviesClean = moviesClean.drop(columns='Netflix')

# Rename columns to match the desired format
moviesClean = moviesClean.rename(columns={
    'Title': 'title',
    'Year': 'year',
    'Age': 'age',
    'IMDb': 'imdb',
    'Rotten Tomatoes': "rotten_tomatoes",
    'Country': 'country'
})

moviesClean.head()

# Optionally print the counts for verification
# print(f"Total rows before filtering: {mC_all}")
# print(f"Total rows after filtering: {mC_Netflix}")

,title,year,age,imdb,rotten_tomatoes,country
0,Inception,2010,13+,8.8,87%,"United States,United Kingdom"
1,The Matrix,1999,18+,8.7,87%,United States
2,Avengers: Infinity War,2018,13+,8.5,84%,United States
3,Back to the Future,1985,7+,8.5,96%,United States
4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,"Italy,Spain,West Germany"

In [6]:
# Perform an inner merge on 'title' and 'year'
movieMerge = pd.merge(titlesClean, moviesClean, on=['title', 'year'], how='inner')

# Drop rows with any missing values
movieMerge = movieMerge.dropna()

# Rename 'country_x' to 'country' and drop 'country_y'
movieMerge = movieMerge.rename(columns={'country_x': 'country'})

# Check if 'country_y' exists before dropping it
if 'country_y' in movieMerge.columns:
    movieMerge = movieMerge.drop(columns='country_y')

# Reset the index of the merged DataFrame
movieMerge.reset_index(inplace=True, drop=True)

movieMerge.head()

,type,title,country,date_added,year,rating,age,imdb,rotten_tomatoes
0,Movie,9,United States,2017-11-16,2009,PG-13,13+,7.1,57%
1,Movie,21,United States,2020-01-01,2008,PG-13,13+,6.8,36%
2,Movie,1922,United States,2017-10-20,2017,TV-MA,18+,6.3,90%
3,Movie,22-Jul,"Norway, Iceland, United States",2018-10-10,2018,R,18+,6.8,80%
4,Movie,13 Cameras,United States,2016-08-13,2015,NR,18+,5.1,77%

In [7]:
tvshowsClean = tvshows_df[["Title", "Year", "Age", "IMDb", "Rotten Tomatoes", "Netflix"]]

# Number of rows with all TV shows
tvC_all = len(tvshowsClean)

# Filter for rows where Netflix column is 1 (indicating Netflix-made shows)
tvshowsClean = tvshowsClean.loc[tvshowsClean['Netflix'] == 1]

# Number of rows with only Netflix-made TV shows
tvC_Netflix = len(tvshowsClean)

# Drop the Netflix column as it's no longer needed
tvshowsClean = tvshowsClean.drop(columns='Netflix')

# Rename columns to match the desired format
tvshowsClean = tvshowsClean.rename(columns={
    'Title': 'title',
    'Year': 'year',
    'Age': 'age',
    'IMDb': 'imdb',
    'Rotten Tomatoes': "rotten_tomatoes"
})

tvshowsClean.head()

# Optionally print the counts for verification
# print(f"Total rows before filtering: {tvC_all}")
# print(f"Total rows after filtering: {tvC_Netflix}")

              title  year  age  imdb rotten_tomatoes
0      Breaking Bad  2008  18+   9.5             96%
1   Stranger Things  2016  16+   8.8             93%
2       Money Heist  2017  18+   8.4             91%
3          Sherlock  2010  16+   9.1             78%
4  Better Call Saul  2015  18+   8.7             97%

In [8]:
# Merge the titlesClean and tvshowsClean DataFrames on 'title' and 'year' using an inner join
tvshowsMerge = pd.merge(titlesClean, tvshowsClean, on=['title', 'year'], how='inner')

# Number of rows before dropping missing values
tvM_before = len(tvshowsMerge)

# Drop rows with any missing values
tvshowsMerge = tvshowsMerge.dropna()

# Number of rows after dropping missing values
tvM_after = len(tvshowsMerge)

# Reset the index of the merged DataFrame
tvshowsMerge.reset_index(inplace=True, drop=True)

# Calculate the number of rows lost due to dropping missing values
tvLoss = tvM_before - tvM_after

# End the transformation timer and calculate transformation time
TransformEnd = time.time()
TransformTime = TransformEnd - TransformStart

# Start the load timer
LoadStart = TransformEnd

# Print the merged DataFrame and transformation details for verification
tvshowsMerge.head()
# print(f"Total rows before dropping missing values: {tvM_before}")
# print(f"Total rows after dropping missing values: {tvM_after}")
# print(f"Number of rows lost: {tvLoss}")
# print(f"Transformation Time: {TransformTime} seconds")

,type,title,country,date_added,year,rating,age,imdb,rotten_tomatoes
0,TV Show,1983,"Poland, United States",2018-11-30,2018,TV-MA,18+,6.8,100%
1,TV Show,Alias Grace,Canada,2017-11-03,2017,TV-MA,18+,7.8,99%
2,TV Show,All About the Washingtons,United States,2018-08-10,2018,TV-PG,all,4.2,40%
3,TV Show,American Odyssey,United States,2016-04-05,2015,TV-14,16+,7.3,54%
4,TV Show,Another Life,United States,2019-07-25,2019,TV-MA,18+,4.9,6%

## Load

create netflixDB database

In [9]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=netflixdb user=postgres password=ODk2MC1kYXZpZG5h")
    print("Connected to the database!")
except psycopg2.Error as e:
    print("Unable to connect to the database:", e)

Connected to the database!

In [10]:
engine = create_engine('postgresql://postgres:ODk2MC1kYXZpZG5h@127.0.0.1/netflixdb')

In [11]:
# Writing movieMerge DataFrame to a new 'final_movies' table if it doesn't exist
try:
    movieMerge.to_sql('final_movies', engine, if_exists='fail', index=False)
    print("movieMerge DataFrame written to PostgreSQL table 'final_movies' successfully!")
except ValueError as e:
    print(f"Error: {e}")

# Writing tvshowsMerge DataFrame to a new 'final_tvshows' table if it doesn't exist
try:
    tvshowsMerge.to_sql('final_tvshows', engine, if_exists='fail', index=False)
    print("tvshowsMerge DataFrame written to PostgreSQL table 'final_tvshows' successfully!")
except ValueError as e:
    print(f"Error: {e}")

Error: Table 'final_movies' already exists.
Error: Table 'final_tvshows' already exists.

In [12]:
final_df = pd.read_sql(sql='final',con=engine)
final_df.to_csv("Output/finalNetflix.csv")
final_len = len(final_df)
LoadEnd = time.time()
LoadTime = LoadEnd-LoadStart

In [13]:
# Create the ETL audit report
ETLAudit = pd.DataFrame({
    'domain': ['final'],
    'row_counts': final_len,
    'extraction_time': str(round(ExtractTime, 2)) + ' seconds',
    'transform_time': str(round(TransformTime, 2)) + ' seconds',
    'load_time': str(round(LoadTime, 2)) + ' seconds'
}, index=[0])

# Write the report to a text file
output_path = 'Output/AuditReport.txt'
with open(output_path, 'w') as file:
    file.write("ETL Audit Report\n")
    file.write("-----------------\n")
    file.write(ETLAudit.to_string(index=False))

print(f"Audit report saved to {os.path.abspath(output_path)}")

Audit report saved to d:\Raisa\Netflix\Netflix-ETL\Output\AuditReport.txt